<ion-header>

  <ion-navbar>
    <ion-title>Meus Convites</ion-title>
    <ion-buttons left>
    <button ion-button icon-only (click)="voltar()">
      <!-- <ion-icon name="arrow-back"></ion-icon> -->
    </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content padding>

  <div *ngIf="listaEventos?.length == 0">
    <p>Pronto, no momento não tem mais nenhuma solicitação pendente...</p>
    <p>Aproveite seu dia!</p>

  </div>

  <ion-card class="bg-branco" *ngFor="let evento of listaEventos">
    <ion-card-content>
      <ion-card-title>
        {{ evento.descricao }}

      </ion-card-title>
      <ion-row>
        <ion-col>
          <p><strong>Organizador:</strong> {{evento.usuarioResponsavel.nome}}</p>
        </ion-col>
        <ion-col>
          <p><strong>Local:</strong> {{evento.local.nome}}</p>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col>
          <span icon-start clear small>
            <ion-icon name="calendar">{{ evento.dataRealizacao }}</ion-icon>
          </span>
        </ion-col>
        <ion-col>
          <span icon-start clear small>
            <ion-icon name="alarm">{{ evento.horario }}</ion-icon>
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col align-self-center>
          <button ion-button icon-start clear medium (click)="recusarConvite(evento)">
            <ion-icon name="close"></ion-icon>
            <div>Recusar</div>
          </button>
        </ion-col>
        <ion-col align-self-center>
          <button ion-button icon-start clear medium (click)="aceitarConvite(evento)">
            <ion-icon name="checkmark"></ion-icon>
            <div>Confirmar</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>




<ion-fab bottom left>

  <button >
    <ion-icon name="arrow-back" (click)="voltar()">Voltar</ion-icon>
    <div  class="label"dir="rtl"></div>
  </button>
</ion-fab>


</ion-content>
