criar-evento {
  .content {
    background-color: color($colors, primary);
  }
  .item {
    background-color: color($colors, primary);
  }

  .bg-branco {
    background-color: white;
  }

  ion-label {
    color: color($colors, light);
    text-align: center;
    margin: 0;
  }

  .label {
    margin: 0 0 5px 0;
  }

  ion-input {
    background-color: #fff;
    border-radius: 500px;
    margin: 0 0 25px 0;
  }

  .helper{
    margin: 20px;
    background: lightgray;
    color: black;
    font-weight: 400;
    font-style: inherit;
  }


}
.picker-toolbar{
  background: white !important;
}
