criar-evento {
  .content {
    background-color: white;
  }
  .item {
    background-color: white;
  }

  .bg-branco {
    background-color: white;
  }

  ion-label {
    color: color($colors, primary);
    text-align: center;
    margin: 0;
  }

  .label {
    margin: 0 0 5px 0;
  }

  ion-input {
    background-color: #fff;
    border-radius: 500px;
    margin: 0 0 25px 0;
    color: color($colors, primary);
  }

  .helper{
    text-align: center;
    font-size: 14px;
    float: left;
    width: 100%;
    height: 50px;
    color: white;
    background-image: linear-gradient(to right, color($colors, primary), color($colors, secondary));
  }


}
.picker-toolbar{
  background: white !important;
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}