<!-- Generated template for the EventoComponent component -->

<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"></button>
    </ion-buttons>

    <ion-title>
      Criar Evento
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="passo" name="passo">
    <ion-segment-button value="1">
      Esporte
    </ion-segment-button>
    <ion-segment-button value="2">
      Dados
    </ion-segment-button>
    <ion-segment-button [disabled]="podeAvancar()" value="3">
      Local
    </ion-segment-button>
    <ion-segment-button [disabled]="!podeAvancar()" value="4">
      Convidados
    </ion-segment-button>
  </ion-segment>

<ion-list [ngSwitch]="passo">
  <ion-list *ngSwitchCase="1">
    <div class="helper"> Selecione um Esporte </div>
    <ion-item *ngFor="let esporte of esportes" >
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <ion-thumbnail item-start>
              <img [src]="Util.pathAvatar(esporte.imagem)" style="padding: 5px">
            </ion-thumbnail>
          </ion-col>
          <ion-col col-4>
            <h2>{{esporte.nome}}</h2>
          </ion-col>
          <ion-col col-4>
            <button button (click)="selecionaEsporte(esporte)">
              <ion-icon name="checkmark-circle">
              </ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="2">
      <div class="helper"> Escolha (ou crie) um Local </div>
      <div [hidden]="evento.local.id != -1">
        <ion-item>
          <ion-label stacked>{{ 'Name' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="local.nome" name="nomeLocal"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'address' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="local.endereco.logradouro" name="enderecoLocal"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Bairro</ion-label>
          <ion-input type="text" [(ngModel)]="local.endereco.bairro" name="bairroLocal"></ion-input>
        </ion-item>
      </div>

      <ion-list radio-group [(ngModel)]="evento.local" name="evento.local">

        <ion-item>
          <ion-label stacked>{{ 'SEARCH_TITLE' | translate }}</ion-label>
          <ion-input type="text" (ionChange)="filtraLocal()" [(ngModel)]="search"  name="searchLocal"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>Criar um novo</ion-label>
          <ion-radio [value]="local"></ion-radio>
        </ion-item>

        <ion-item *ngFor="let l of locais">
          <ion-label>{{l.nome}} / {{l.endereco.bairro}}</ion-label>
          <ion-radio [value]="l"></ion-radio>
        </ion-item>

      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="3">
      <div class="helper"> Preencha os dados do Evento </div>
      <ion-item>
        <ion-label stacked>Descrição do Evento</ion-label>
        <ion-textarea placeholder=""
        [(ngModel)]="evento.descricao" name="descricao"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime pickerFormat="DD MMMM YYYY" displayFormat="DD MMMM YYYY"
        placeholder="{{'Select Date' | translate}}"
        min="{{ minData() | date:'yyyy-MM-dd' }}" max="{{ maxData() | date:'yyyy-MM-dd' }}"
        name="eventoData" [(ngModel)]="evento.dataRealizacao"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Horario</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm"
        placeholder="Selecione o horário" name="horario" [(ngModel)]="evento.horario"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Evento publico</ion-label>
        <ion-checkbox color="dark" name="eventopublico" [(ngModel)]="evento.publico"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label stacked>Vagas</ion-label>
        <ion-input type="number" step="1" max="evento.esporte.qtdMaximo" [(ngModel)]="evento.vagas" name="eventoVagas"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Valor total do evento</ion-label>
        <ion-input type="number" step="0.01" [(ngModel)]="evento.valor" name="eventoValor"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="4">

      <ion-list *ngIf="temContatos">
        <div class="helper">  Escolha quais amigos convidar </div>

        <ion-item *ngFor="let contato of meusContatos">
          <ion-col col-4>{{contato.displayName}}</ion-col>
          <ion-col col-4>
            <button (click)="checkContato(contato)">
              <ion-icon name="checkmark-circle" *ngIf="!contato.checked">Convidar</ion-icon>
              <ion-icon name="close-circle" *ngIf="contato.checked">Remover</ion-icon>

            </button>
          </ion-col>
        </ion-item>

      </ion-list>

    </ion-list>
  </ion-list>



  <ion-fab bottom left>

    <button ion-fab [disabled]="passo == 1" (click)="voltar()">
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
      <div  class="label"dir="rtl"></div>
    </button>


  </ion-fab>

  <ion-fab bottom right>

    <button ion-fab *ngIf="passo != 4" (click)="avancar()" [disabled]="!podeAvancar()">
      <ion-icon name="arrow-dropright-circle"></ion-icon>
      <div class="label"></div>
    </button>

    <button ion-fab *ngIf="passo == 4" (click)="concluir()" [disabled]="!podeAvancar()">
      <ion-icon name="checkmark-circle"></ion-icon>
      <div  class="label"dir="rtl"></div>
    </button>


  </ion-fab>

</ion-content>
