<!-- Generated template for the EventoComponent component -->

<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"></button>
    </ion-buttons>

    <ion-title>
      {{(seguimento == 'evento') ? 'Visualizar Evento' : 'Buscar Participantes' }}
    </ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="bg-branco" *ngIf="seguimento == 'evento'">
  <ion-row>
    <ion-col col-5>
      <ion-card>
        <img [src]="Util.pathImg(evento.local.imagem)"/>
        <ion-card-content style="background-color: white">
          <p>
            {{ evento.local.descricao }}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-7>
      <p>{{ evento.descricao }}</p>
      <p>{{ evento.esporte.nome }} </p>
      <p>
        <span icon-start clear small>
          <ion-icon name="calendar"> {{ evento.dataRealizacao }}</ion-icon>{{ evento.horario }}
        </span>
      </p>
      <p>Organizador: {{evento.usuarioResponsavel.nome}}</p>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="(evento.dataCancelamento != null)">
    <H1>Evento Cancelado</H1>
    <p>Cancelado por {{evento.usuarioResponsavel.nome}} em {{evento.dataCancelamento | date : 'dd/MM/yy hh:mm'}}h</p>
    <p>Motivo: {{evento.justificativaCancelamento}}</p>
  </ion-row>

  <ion-row *ngIf="(encerrado)">
    <H1>Evento Encerrado</H1>
    <!-- <p>Cancelado por {{evento.usuarioResponsavel.nome}} em {{evento.dataCancelamento | date : 'dd/MM/yy hh:mm'}}h</p> -->
  </ion-row>

  <div *ngIf="minhaSolicitacaoPendente != null">

    <h4>Participação Solicitada</h4>
    <ion-row style="color: teal">
      <ion-col col-8>
        <p>{{ minhaSolicitacaoPendente.dataConfirmacao | date }}</p>
      </ion-col>
      <ion-col col-4>
        <p>Cancelar
          <button (click)="confirmarCancelarParticipacao()">
            <ion-icon name="close"></ion-icon>
          </button>
        </p>

      </ion-col>

    </ion-row>

  </div>

  <div *ngIf="euOrganizo && !encerrado && !cancelado && solicitacoesPendentes.length > 0">

    <h4>Solicitações pendentes</h4>
    <ion-row *ngFor="let p of solicitacoesPendentes" style="color: teal">
      <ion-col col-8>
        <p>{{ p.usuario.nome }}</p>
      </ion-col>
      <ion-col col-2>
        <button (click)="confirmarAceitarParticipanteEvento(p)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button (click)="confirmarRecusarParticipanteEvento(p)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </div>

  <ion-row>
    <ion-col col-6>
      <h4>{{(encerrado) ? 'Avaliar' : 'Confirmados'}}</h4>
      <div *ngFor="let p of participantesConfirmados" style="color: teal">
        <hr/>
        <h6>{{ p.usuario.nome }}</h6>
          <button *ngIf="euOrganizo && !encerrado && !cancelado" (click)="confirmarRemoverParticipanteEvento(p)">
          <ion-icon name="close"></ion-icon>
        </button>
        <ion-row *ngIf="encerrado && p.usuario_id != meuId && !jaAvaliei(p.avaliacoes)">
          <ion-label stacked>Comentar e Avaliar</ion-label>
          <ion-input [(ngModel)]="p.comentario"></ion-input>
          <button (click)="confirmarAvaliacao(p)" >Avaliar</button>

        </ion-row>

        <p *ngFor="let avaliacao of p.avaliacoes"> - Nota: {{avaliacao.score}} - {{avaliacao.texto}}. <br>por {{avaliacao.usuario_avaliador.nome}}</p>
      </div>
    </ion-col>

    <ion-col col-6 *ngIf="euParticipo && !encerrado">
      <h4>Pendentes</h4>
      <div *ngFor="let p of participantesPendentes" style="color: teal">
        <p>{{ p.usuario.nome }}
          <button *ngIf="euOrganizo && !encerrado && !cancelado" (click)="confirmarRemoverParticipanteEvento(p)">
        <ion-icon name="close"></ion-icon>
      </button></p>
      </div>
    </ion-col>
  </ion-row>

  <ion-fab bottom right *ngIf="!euParticipo && !encerrado" >

    <button (click)="confirmarSolicitarParticipacao(evento)" [disabled]="(!evento.publico || minhaSolicitacaoPendente != null)">
      <ion-icon name="add-circle"></ion-icon>
      <div class="label">Solicitar Participação</div>
    </button>

  </ion-fab>

  <ion-fab bottom left *ngIf="euOrganizo && !encerrado" >

    <button (click)="confirmarCancelarEvento()" [disabled]="(evento.dataCancelamento != null)">
      <ion-icon name="close"></ion-icon>
      <div class="label">Cancelar Evento</div>
    </button>

  </ion-fab>

  <ion-fab bottom right *ngIf="euOrganizo && !encerrado" >

    <button (click)="seguimento = 'buscar'" [disabled]="(evento.dataCancelamento != null)">
      <ion-icon name="search"></ion-icon>
      <div class="label">Buscar Participantes</div>
    </button>

  </ion-fab>

  <ion-fab bottom right *ngIf="!euOrganizo && euParticipo && !encerrado">

    <button (click)="confirmarCancelarParticipacao()" [disabled]="(evento.dataCancelamento != null)">
      <ion-icon name="close"></ion-icon>
      <div class="label">Cancelar participação</div>
    </button>


  </ion-fab>


  <ion-row padding>
    <div id="map" #map></div>
  </ion-row>

</ion-content>


<ion-content padding class="bg-branco" *ngIf="seguimento == 'buscar'">

  <h5>Pesquisa</h5>

  <ion-row>
    <ion-col col-9>
      <ion-input text-center type="text" name="search" [(ngModel)]="search"></ion-input>
    </ion-col>
    <ion-col col-3>
      <button (click)="buscarUsuariosProximos()">Buscar</button>
    </ion-col>
  </ion-row>
  <hr/>
  <div *ngFor="let u of usuariosProximos">
    <ion-row>
      <ion-col col-8>
        <p>{{u.nome}} {{u.sobrenome}} </p>
      </ion-col>
      <ion-col col-4>
        <button *ngIf="!u.convidado" (click)="convidarUsuario(u)">Convidar</button>
        <p *ngIf="u.convidado">Local Requisitado</p>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="usuariosProximos.length ==0">
    <p>Nenhum item encontrado!</p>
  </div>


  <ion-fab bottom right  >

    <button (click)="voltarEvento()" >
      <ion-icon name="arrow-back"></ion-icon>
      <div class="label">Voltar para o Evento</div>
    </button>

  </ion-fab>
</ion-content>
