visualizar-perfil {
    .branco {
      color: white;
    }

    $tabs-ios-tab-icon-color: white;
    $tabs-md-tab-icon-color: white;

    #jogosAvaliacoesEventos {
        width: 100%;
    }

    #jogosAvaliacoesEventos ul {
        list-style: none;
        display: block;
        float: left;
        width: 100%;

        overflow: hidden;
        margin-top: 5px;
        padding: 0;
    }

    #jogosAvaliacoesEventos ul li {
        list-style: none;
        float: left;
        text-align: center;
        width: 33.3333%; /* fallback for non-calc() browsers */
        width: calc(100% / 3);
        box-sizing: border-box;
        color: #666;
        font-size: 16px;

    }

    #jogosAvaliacoesEventos ul li:first-child {
        border-left: none;
    }

    #jogosAvaliacoesEventos ul li:last-child {
        border-right: none;
    }

    #jogosAvaliacoesEventos ul li span {
        text-align: center;
        font-size: 13px;
        font-weight: 200;
    }

    #sobreMim {
        text-align: center;
        float: left;
        width: 100%;
        height: 50px;
        color: white;
        background-image: linear-gradient(to right, color($colors, primary), color($colors, secondary))
    }

    #mensagem {
        float: left;
        width: 100%;
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #mensagem p {
        font-size: 12px;
        color: #666;
        text-align: justify;
    }

    #esportes {
        width: 100%;
        float: left;
    }

    #esportes ul {
        list-style: none;
    }

    #esportes ul li {
        font-size: 16px;
    }

    #posicoes {
        float: left;
        width: 100%;
    }

    #posicoes ul {
        list-style: none;
    }

    #posicoes ul li {
        font-size: 16px;
    }

    .gradiente {
        background-image: linear-gradient(to right, color($colors, primary), color($colors, secondary))
    }

    button {
        margin-bottom: 3px;
        left: auto;
        right: auto;
    }
}
