<!-- Generated template for the VisualizarPerfilComponent component -->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="voltar()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Visualizar Perfil
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!isLoading">

  <div text-center style="background-color: white">
    <ion-avatar>
      <img id="my-avatar" [src]="Util.pathAvatar(usuario.imagem)">
    </ion-avatar>
    <ion-item-divider text-center>
      <!-- <ion-icon name="information-circle"></ion-icon> -->
      <div color="darkgrey">
        <h1>{{usuario.nome}} {{usuario.sobrenome}}</h1>
      </div>
      <div *ngIf="usuario.endereco.cep !== null" color="darkgrey">
        <h3>{{usuario.endereco.cidade.nome}}/{{usuario.endereco.cidade.estado.sigla}}</h3>
      </div>
      <ionic3-star-rating
        activeIcon = "star"
        defaultIcon = "star-outline"
        size = "small"
        activeColor = "darkgoldenrod"
        defaultColor = "#f4f4f4"
        readonly="true"
        [rating]="usuario.score">
      </ionic3-star-rating>
    </ion-item-divider>
  </div>

  <div id="jogosAvaliacoesEventos">
      <ul>
        <li style="border-right: 1px solid #ccc" text-center>122<br/><span>Jogos</span></li>
        <li text-center>170<br/><span>Avaliações</span></li>
        <li style="border-left: 1px solid #ccc" text-center>44<br/><span>Eventos Criados</span></li>
      </ul>
  </div>

  <div id="sobreMim">
      <h3>Sobre Mim</h3>
  </div>

  <div id="mensagem">
    <p>{{usuario.descricao}}. </p>
  </div>
  <ion-list id="esportes" no-lines>
    <ion-item *ngFor="let e of esportesUsuario" center>
        <img [src]="Util.pathEsportes(e.imagem)" width="20px"> {{ e.nome }}
    </ion-item>
  </ion-list>

  <ion-row *ngIf="usuario.id == this.loginService.getUsuarioLogado().id">
    <ion-col col-12 style="text-align: center;">
      <button ion-button (click)="editarPerfil()" full>
        <ion-icon name="edit"></ion-icon> Editar meu Perfil
      </button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="usuario.id != this.loginService.getUsuarioLogado().id">
    <ion-col col-12 style="text-align: center;">
      <button ion-button full>
        <ion-icon name="edit"></ion-icon> Denunciar
      </button>
    </ion-col>
  </ion-row>
</ion-content>
