// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


#my-avatar {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #cccccc;
}

.avatar-sm {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #cccccc;
}

.menu-header {
  background-color: #741b75;
}

.gradiente {
  background-image: linear-gradient(to right, color($colors, primary), color($colors, secondary))
}

.menu-header ion-row ion-col h4,
.menu-header ion-row ion-col p {
  color: white;
}

img.circle {
  border-radius: 50%;
}

ion-header ion-icon.menu-button-icon.icon {
  color: map-get($colors, primary);
}

.bg-branco {
  background-color: white;
}