<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Joga Junto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg-branco">
<ion-grid>
  <!-- Header do Menu - Perfil -->
  <ion-row *ngIf="usuario != null">
    <ion-col>
      <div *ngIf="usuario != null" padding>
        <img id="my-avatar" [src]="Util.pathAvatar(usuario.imagem)">
      </div>
    </ion-col>
    <ion-col style="vertical-align: center">
      
      <h4 ion-text>{{ usuario.nome }}</h4>
      <p>{{ usuario.score }}</p>
    </ion-col>
  </ion-row>
</ion-grid>
    

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage" persistent=“true”></ion-nav>
