<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Joga Junto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg-branco">

    <div *ngIf="usuario != null" padding text-center>
      <img id="my-avatar" [src]="Util.pathAvatar(usuario.imagem)">
      <h4 ion-text>{{ userProvider.user.fullname }}</h4>
    </div>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage" persistent=“true”></ion-nav>
