<!-- Generated template for the EventosComponent component -->

<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button icon-only menuToggle style="display: block !important;" color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>

      <ion-title center class="titleicon toolbar-background">
        <img src="./assets/img/jogaJuntoLogo.png" style="display:inline-block" height="50px" />
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="map-wrapper">
      <maps #map>
      </maps>
    </div>
</ion-content>
<div class="bottom">



<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-float-right">
        <div>
          <h3>float-right</h3>
          <button ion-button icon-start (click)="criarNovoEvento()">
            <ion-icon name="add-circle-outline"></ion-icon>
            Criar Evento
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>
    <ion-item>
      TESTE
    </ion-item>

  </ion-list>

  <ion-fab bottom right>
        <button ion-fab ><ion-icon name="md-share"></ion-icon></button>
        <ion-fab-list side="top">

          <button ion-fab >
              <ion-icon name="logo-facebook"></ion-icon>
              <div class="label">Facebook</div>
          </button>

          <button ion-fab>
            <ion-icon name="logo-instagram"></ion-icon>
            <div  class="label"dir="rtl">Instagram</div>
          </button>

          <button ion-fab >
            <ion-icon name="logo-twitter"></ion-icon>
            <div  class="label"dir="rtl">Twitter</div>
          </button>

          <button ion-fab >
            <ion-icon name="logo-whatsapp"></ion-icon>
            <div  class="label"dir="rtl">Whattsapp</div>
          </button>

      </ion-fab-list>
  </ion-fab>
</ion-content>
<div>
<div>
  <ion-card class="bg-branco" *ngFor="let evento of listaEventos">
    <ion-card-content>
      <ion-card-title>
          {{ evento.evento.descricao }}
      </ion-card-title>
      <ion-row>
        <ion-col>
          <span icon-start clear small>
            <ion-icon name="calendar">{{ evento.evento.dataRealizacao|date:'dd/MM/yyyy' }}</ion-icon>
          </span>
        </ion-col>
        <ion-col>
          <span icon-start clear small>
            <ion-icon name="alarm">{{ evento.evento.horario }}</ion-icon>
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col align-self-center>
          <button ion-button icon-start clear medium (click)="carregaEvento(evento.evento.id)">
            <ion-icon name="stats"></ion-icon>
            <div>Detalhes</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
