<!-- Generated template for the EventosComponent component -->

<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button icon-only menuToggle style="display: block !important;" color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title center class="titleicon toolbar-background">
      <img src="./assets/img/jogaJuntoLogo.png" style="display:inline-block" height="50px" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <maps #map>
    </maps>
  </div>


  <ion-fab bottom center>
    <button ion-fab style="background-color: white; color:#741b75">
      <!-- <ion-icon name="menu"></ion-icon> -->
      <img src="../../assets/img/jogaJuntoBt.png">
    </button>
    <ion-fab-list side="top">

      <button ion-fab (click)="criarNovoEvento()">
        <ion-icon name="add-circle"></ion-icon>
        <div class="label"></div>
      </button>

      <button ion-fab>
        <ion-icon name="calendar" (click)="agenda()"></ion-icon>
        <div  class="label"dir="rtl"></div>
      </button>

      <button ion-fab (click)="notificacoes()">
        <ion-icon name="notifications"></ion-icon>
        <div  class="label"dir="rtl"></div>
      </button>

    </ion-fab-list>
  </ion-fab>
</ion-content>






<!-- <ion-content padding>
<ion-card class="bg-branco" *ngFor="let evento of listaEventos">
<ion-card-content>
<ion-card-title>
{{ evento.evento.descricao }}
</ion-card-title>
<ion-row>
<ion-col>
<span icon-start clear small>
<ion-icon name="calendar">{{ evento.evento.dataRealizacao|date:'dd/MM/yyyy' }}</ion-icon>
</span>
</ion-col>
<ion-col>
<span icon-start clear small>
<ion-icon name="alarm">{{ evento.evento.horario }}</ion-icon>
</span>
</ion-col>
</ion-row>

<ion-row>
<ion-col align-self-center>
<button ion-button icon-start clear medium (click)="carregaEvento(evento.evento.id)">
<ion-icon name="stats"></ion-icon>
<div>Detalhes</div>
</button>
</ion-col>
</ion-row>
</ion-card-content>
</ion-card>
</div>
</ion-content> -->
