
confirmacao {
  .content {
    background-color: color($colors, primary);
  }
  .item {
    background-color: color($colors, primary);
  }
  ion-input {
  input {
    text-align: center;
  }
}

  h2{
    color: white;
  }
  ion-col{
    text-align: center;
  }
  ion-label {
    text-align: left;
    margin: 0;
  }

  .label {
    margin: 0 0 5px 0;
  }

  ion-input {
    background-color: #fff;
    border-radius: 500px;
    margin: 0 0 10px 0;
  }
}
