<!--
Generated template for the MyProfilePage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'My Profile' | translate}}</ion-title>
    <ion-buttons end>
      <button (click)="doSubmit()" ion-button icon-only >
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding-top *ngIf="!isLoading">
  <form >
    <div padding>
      <ion-segment [(ngModel)]="aba" name="abas">
        <ion-segment-button value="dados">
          {{'Data' | translate}}
        </ion-segment-button>
        <ion-segment-button value="endereco">
          {{'Address' | translate}}
        </ion-segment-button>
        <ion-segment-button value="esporte">
          {{'Sport' | translate}}
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="aba">
      <ion-list *ngSwitchCase="'dados'">

        <div text-center style="background-color: white">

          <ion-avatar>
            <img id="my-avatar" [src]="Util.pathAvatar('usuario.imagem')">
          </ion-avatar>
          <ion-item-divider  text-center>
            <!-- <ion-icon name="information-circle"></ion-icon> -->
            <div color="secondary">
              <h1>{{usuario.nome}} {{usuario.sobrenome}}</h1>
            </div>
            <div *ngIf="usuario.endereco !== null" color="secondary">
              <h3>{{usuario.endereco.cidade.nome}}/{{usuario.endereco.cidade.estado.sigla}}</h3>
            </div>
          </ion-item-divider>
        </div>


        <ion-item-divider color="light" text-center>
          <h1>{{'About me' | translate}}</h1>
          <ion-item>
            <ion-textarea placeholder="Fale um pouco sobre você."
            [(ngModel)]="usuario.mensagem" name="mensagem"></ion-textarea>
          </ion-item>
        </ion-item-divider >

        <ion-item>
          <ion-label stacked>{{ 'Username' | translate }}</ion-label>
          <ion-input text-center type="text" [(ngModel)]="usuario.nome" name="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'Fullname' | translate }}</ion-label>
          <ion-input text-center type="text" [(ngModel)]="usuario.sobrenome" name="fullname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input text-center type="email" [(ngModel)]="usuario.email"  name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'PHONE' | translate }}</ion-label>
          <ion-input text-center type="text" [(ngModel)]="usuario.telefone"  name="telefone"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'endereco'">
        <ion-item-divider color="light" text-center>
          <h1>{{'Address' | translate}}</h1>
        </ion-item-divider >

        <ion-item>
          <ion-label stacked>CEP: </ion-label>
          <ion-input text-center type="text" [(ngModel)]="usuario.endereco.cep" name="cep" (blur)="buscaCep()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'address' | translate }}</ion-label>
          <ion-input text-center type="email" [(ngModel)]="usuario.endereco.logradouro"  name="logradouro"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'Number' | translate }}</ion-label>
          <ion-input text-center type="email" [(ngModel)]="usuario.endereco.numero"  name="numero"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'Neighborhood' | translate }}</ion-label>
          <ion-input text-center type="email" [(ngModel)]="usuario.endereco.bairro"  name="bairro"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'Complement' | translate }}</ion-label>
          <ion-input text-center type="email" [(ngModel)]="usuario.endereco.complemento"  name="complemento"></ion-input>
        </ion-item>



        <ion-item>
          <ion-label stacked>{{'City' | translate}}</ion-label>
          <ionic-selectable
          name="cidade"
          item-content
          [(ngModel)]="cidade"
          [items]="cidades"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="cidadeChange($event)">
        </ionic-selectable>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'esporte'">

      <ion-item-divider color="light" text-center>
        <h1>{{'My Sports' | translate}}</h1>
      </ion-item-divider >

      <ion-list>
        <ion-item *ngFor="let esporte of esportesUsuario; let i= index">
          <ion-label>{{esporte.nome}}</ion-label>
          <ion-select multiple="true" (ionChange)="atualizaPosicoes($event,esporte.id)"
          cancelText="Voltar" okText="Ok!" name="posicoesSelecionadas">
          <ion-option *ngFor="let p of esporte.posicoes" [value]="p"
          [selected]="possuiPosicao(p.id)">{{p.nome}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-item *ngFor="let esporte of esportes; let i= index">
        <ion-label>{{esporte.nome}}</ion-label>
        <ion-select multiple="true" (ionChange)="atualizaPosicoes($event,esporte.id)"
        cancelText="Voltar" okText="Ok!" name="posicoesSelecionadas">
        <ion-option *ngFor="let p of esporte.posicoes" [value]="p"
        [selected]="possuiPosicao(p.id)">{{p.nome}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-label><ion-icon name="add-circle"></ion-icon>{{'Add' | translate}}</ion-label>
    <ion-select placeholder="Selecione" (ionChange)="adicionaEsporte($event)" >
      <ion-option *ngFor="let esporte of esportes" [value]="esporte">{{esporte.nome}}</ion-option>
    </ion-select>
  </ion-item>

</ion-list>
</div>

<div padding text text-center>
  <button ion-button color="primary" icon-right (click)="salvar()">
    {{ 'Save' | translate }} <ion-icon name="checkmark"></ion-icon>
  </button>
</div>
</form>
</ion-content>
